parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 209, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Sync/SyncEngine.php
		-
			rawMessage: 'Class cognitive complexity is 90, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Commands/DoctorCommand.php
		-
			rawMessage: 'Class cognitive complexity is 90, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Config/BoostConfigWriter.php
